<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="ContentPath" value="d:\infokiosk\_Content\"/>-->
    <!--<add key="NoFileImagePath" value="d:\infokiosk\_Content\no-image.png"/>-->
    <add key="ContentPath" value="c:\Users\ruslan\Desktop\Инфокиоск для выстовочного отдела\_Content\"/>
    <add key="NoFileImagePath" value="c:\Users\ruslan\Desktop\Инфокиоск для выстовочного отдела\_Content\no-image.png"/>
    <add key="CorporateEmail" value="seomyha@mail.ru"/>
    <add key="CorporateLogin" value="seomyha"/>
    <add key="CorporatePassword" value="DashaSiomukha99"/>
    <add key="CorporateEmailHost" value="smtp.mail.ru"/>
    <add key="CorporateMailTimeout" value="3600"/>
  </appSettings>
  <connectionStrings>
    <add name="Infokiosk" connectionString="server=localhost;uid=root;pwd=qwerty;database=infokiosk" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>