<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!--<add key="ContentPath" value="d:\infokiosk\_Content\"/>-->
        <add key="ContentPath" value="c:\Users\ruslan\Desktop\Инфокиоск для выстовочного отдела\_Content\"/>
    </appSettings>
</configuration>